.Rproj.user
inst/doc
.Rhistory
.Rdata
.httr-oauth
.DS_Store
.quarto
inst/python/constants.py
inst/modules/sample-size*
tests/testthat/pdf
/doc/
/Meta/
/tests/testthat/grobid-test/pdf/
/data-raw/psychsci/pdf/
/data-raw/psychsci/*_consolidated
_stuff/modules-old/sample-size*
_stuff/check_correct_citations/pdfs_lakens
_stuff/check_correct_citations/xmls_lakens
_stuff/report-demo/
